<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<h1 class="">The Rails Noob</h1> 
			<%= link_to 'about', pages_about_path %> 
			<%= link_to 'contact', pages_contact_path %>
		</div>
	</nav>

<h1 class="">The Rails Beginner Manual on windows environment</h1>

<hr>

<div>
	<p>This is a platform built using Ruby on Rails and hosted on Heroku. It is dedicated to teaching the "very basic noob" how to use rails on windows. It is very basic. I'm a mid level beginner myself and want to use this platform to tech other noobs who have the guts to venture into rails on a windows system. Yes, I'll move to ubuntu when I eventually get to the amateur beginner level. This site will contain basic links to useful mostly free resources.</p>
</div>
<p>Connect with me on Twitter</p>

